* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@keyframes zoomInOut_01 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

#loading {
    width: 100%;
    height: 100vh;
    background: rgb(255, 140, 15);
    background: linear-gradient(77deg, rgba(255, 140, 15, 1) 30%, rgba(255, 194, 28, 1) 100%);
    z-index: 1000000 !important;
    position: fixed;
    top: 0;

    & .loading_container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        & span {
            display: block;
            height: 60px;
            width: 60px;
            background: #fff;
            border-radius: 50%;
            animation: zoomInOut_01 1s ease infinite;
        }
    }

}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    user-select: none;
}

body.overlay-active {
    overflow: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    outline: none;
    border: none;
}

.container {
    width: 100%;
    height: 100vh;

    & nav {
        background: #0E43AB;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 5rem;
        height: 60px;
        user-select: none;
        width: 100%;
        z-index: 10;


        & .menuBars {
            display: none;
            order: 2;
        }

        & .hr {
            width: 1px;
            height: 100%;
            background: #5D87C8;
            transform: rotate(10deg);
        }

        & .logo {
            height: 30px;
            display: flex;
            align-items: center;
            cursor: pointer;

            & span {
                font-weight: 900;
                background: rgb(255, 140, 15);
                background: linear-gradient(77deg, rgba(255, 140, 15, 1) 30%, rgba(255, 194, 28, 1) 100%);
                -webkit-text-fill-color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                font-size: 1.2rem;
            }

            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                margin-right: 5px;
            }
        }

        & .media_nav {
            display: flex;
            gap: 20px;
            z-index: 10;

            & .cross_sideBat {
                display: none;
                margin-left: auto;
                padding: 1rem 0;

                & i {
                    font-size: 30px;
                    color: #000;
                    font-weight: 100;
                    cursor: pointer;
                }
            }

            & hr {
                width: 1px;
                border: none;
                background: #5D87C8;
                transform: rotate(10deg);
            }

            & .navbar_list {
                display: flex;
                align-items: center;
                gap: 20px;

                & li {
                    font-size: 13px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    cursor: pointer;

                    & a {
                        color: #fff;
                        transition: all 0.4s ease-in-out;

                        &:hover {
                            color: rgba(255, 140, 15, 1);
                        }
                    }
                }
            }

            & .signing_user {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                & .buttons {
                    & button {
                        border-radius: 4px;
                        font-weight: 600;
                        font-size: 13px;
                        background: none;
                        color: #fff;
                        cursor: pointer;
                        padding: 0.5rem;
                    }

                    & .active {
                        padding: 0.5rem 1.4rem;
                        background: #fff;
                        color: #0E43AB;
                    }
                }

                & .inputs {

                    & input {
                        outline: 2px solid #5D87C8;
                        border: none;
                        padding: 0.5rem;
                        border-radius: 4px;
                        background: none;
                        color: #fff;

                        &::placeholder {
                            color: #5D87C8;
                        }
                    }
                }
            }
        }

        & .icons {
            cursor: pointer;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            order: 3;
            color: #fff;

            & i {
                font-size: 1.5rem;
            }

            & span {
                font-size: 12px;
                font-weight: 600;
            }
        }
    }

    & main {
        width: 100%;
        height: 100%;

        & .banner {
            width: 100%;
            height: 500px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 140, 15, 1);
                background: linear-gradient(67deg, rgba(255, 140, 15, 1) 40%, rgba(255, 194, 28, 1) 96%);
                opacity: 0.9;
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
                -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: url("../img/BackgroundBanner1.png");
                background-repeat: no-repeat;
                background-position: top center;
                background-attachment: fixed;
                background-size: cover;
                z-index: -1;
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
                -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
            }


            & .left {
                width: 45%;
                height: 100%;
                padding-left: 5rem;
                z-index: 5;
                display: flex;
                align-items: center;
                justify-content: center;

                & .content {
                    color: #fff;

                    & h1 {
                        font-size: 5rem;
                        font-weight: 900;
                        letter-spacing: 1px;
                        margin-bottom: 1.6rem;
                    }

                    & p {
                        margin-bottom: 0;
                        letter-spacing: 1px;
                    }
                }
            }

            & .right {
                height: 500px;
                padding: 30px;
                position: absolute;
                bottom: -50px;
                right: 4rem;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        // ===================Banner Section End==================

        & .section_category {
            margin-top: 3rem;
            width: 100%;
            height: auto;
            padding: 1rem 5rem;

            & h1 {
                font-size: 2.5rem;
                text-align: center;
            }
        }

        // =================section category Edn==================

        & .xBox_section {
            margin: 2rem 0;
            height: 500px;
            width: 100%;
            padding: 1rem 5rem;
            position: relative;
            display: flex;
            align-items: center;
            clip-path: polygon(0 2%, 100% 26%, 100% 100%, 0% 100%);


            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: url("../img/wp6439840.jpg")no-repeat top center;
                background-size: cover;
                z-index: -1;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: #0E43AB;
                opacity: 0.6;
            }

            & .left {
                z-index: 5;
                height: 100%;
                width: 50%;
                display: flex;
                align-items: left;
                flex-direction: column;
                justify-content: center;
                margin-top: 4rem;


                & .images {
                    height: 70px;
                    margin-right: auto;
                    margin-bottom: 1.5rem;

                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                & .content {
                    & p {
                        color: #fff;
                    }

                    & button {
                        margin-top: 2rem;
                        outline: none;
                        border: none;
                        padding: 0.8rem 2rem;
                        border-radius: 5px;
                        border: 2px solid #fff;
                        color: #fff;
                        background: transparent;
                        cursor: pointer;

                        &:active {
                            position: relative;
                            top: 2px;
                        }
                    }
                }
            }

            & .right {
                z-index: 5;
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 4rem;

                & .images {
                    height: 280px;

                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

#filter {
    width: 100%;
    height: 100%;


    & .nav {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: center;
        margin: 2rem 0;

        & li {
            font-size: 13px;
            font-weight: 500;
            border: 2px solid rgba(255, 140, 15, 1);
            color: rgba(255, 140, 15, 1);
            padding: 0.4rem 0.8rem;
            border-radius: 5px;
            cursor: pointer;
            user-select: none;

            &.active {
                color: #fff;
                background: rgb(255, 140, 15);
                background: linear-gradient(77deg, rgba(255, 140, 15, 1) 30%, rgba(255, 194, 28, 1) 100%);
            }
        }
    }

    & .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 20px;

        & .games {
            width: 260px;
            height: 360px;
            border-radius: 10px;
            transition: all 0.4s ease-in-out;
            position: relative;
            overflow: hidden;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }

            & video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                display: none;
            }


            &:hover img {
                display: none;
            }

            &:hover video {
                display: block;
            }

            &:hover {
                box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
            }

            & .overlay_content {
                position: absolute;
                bottom: -150px;
                left: 0;
                width: 100%;
                height: auto;
                transition: all 0.5s ease-in-out;
                background: #000;
                mask-image:
                    linear-gradient(to top,
                        rgba(0, 0, 0, 1),
                        rgba(0, 0, 0, 1),
                        rgba(0, 0, 0, 1),
                        rgba(0, 0, 0, 0.8),
                        rgba(0, 0, 0, 0.5),
                        rgba(0, 0, 0, 0.1),
                    );
                -webkit-mask-image:
                    linear-gradient(to top,
                        rgba(0, 0, 0, 1),
                        rgba(0, 0, 0, 1),
                        rgba(0, 0, 0, 1),
                        rgba(0, 0, 0, 0.8),
                        rgba(0, 0, 0, 0.5),
                        rgba(0, 0, 0, 0.1),
                    );
                padding: 50px 20px 20px;

                & .content {
                    color: #fff;
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 0 0 10px 10px;
                    z-index: 3;

                    & h6 {
                        font-size: 14px;
                        background: rgb(255, 140, 15);
                        background: linear-gradient(77deg, rgba(255, 140, 15, 1) 30%, rgba(255, 194, 28, 1) 100%);
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        -webkit-background-clip: text;
                        font-weight: 900;
                        user-select: none;
                    }

                    & p {
                        font-size: 12px;
                        color: #aaa;
                        margin: 0.5rem 0;
                    }

                    & span {
                        font-size: 1.2rem;
                        font-weight: 900;
                        color: #fff;

                        & span {
                            color: #2ecc71;
                        }
                    }
                }
            }

            &:hover .overlay_content {
                bottom: 0;
            }
        }
    }
}

#overlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: -120%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    transition: all 1s ease-in-out;
    z-index: 9;
}


section {
    padding: 1rem 5rem;

    & #games_platform {
        height: 100%;
        width: 100%;

        & .swiper-wrapper {
            width: 100%;

            & .swiper-slide {
                padding: 0 5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;

                & .left {
                    width: 100%;

                    & .images {
                        height: 450px;

                        & img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain
                        }
                    }
                }

                & .right {
                    width: 100%;

                    & .content {
                        & h1 {
                            font-size: 2rem;

                            & span {
                                color: coral;
                            }
                        }

                        & p {
                            color: #aaa;
                            font-size: 14px;
                            margin: 1rem 0;
                        }

                        & h3 {
                            font-size: 1.2rem;
                            margin-bottom: 1rem;

                            & span {
                                color: #2ecc71;
                            }
                        }

                        & .button {
                            width: fit-content;

                            & button {
                                background: rgb(255, 140, 15);
                                background: linear-gradient(77deg, rgba(255, 140, 15, 1) 30%, rgba(255, 194, 28, 1) 100%);
                                padding: 0.7rem 1.5rem;
                                color: #fff;
                                border-radius: 3px;
                                font-weight: 500;
                                cursor: pointer;

                                &:active {
                                    position: relative;
                                    top: 2px;
                                }
                            }
                        }
                    }
                }
            }
        }

        & #Nextbtn,
        & #Prevbtn {
            color: #aaa;
            border-radius: 50%;
            border: 2px solid #aaa;
            width: 38px;
            height: 38px;
        }

        & #Nextbtn::after,
        & #Prevbtn::after {
            font-size: 1.2rem;
        }
    }
}


#gamingPlatform {
    margin: 2rem 0;
    height: 600px;
    width: 100%;
    padding: 1rem 5rem;
    position: relative;
    clip-path: polygon(0 2%, 100% 26%, 100% 100%, 0% 100%);

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 140, 15, 1);
        background: linear-gradient(67deg, rgba(255, 140, 15, 1) 40%, rgba(255, 194, 28, 1) 96%);
        opacity: 0.9;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("../img/HorizonBanner.jpg");
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;
        background-size: cover;
        z-index: -1;
    }

    & .content {
        margin-top: 10rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        & h1 {
            text-align: center;
            color: #fff;
            z-index: 5;
            font-size: 2.1rem;
            margin-bottom: 1.5rem;
            user-select: none;
        }

        & .swiper {
            width: 100%;

            & .swiper-slide {
                width: fit-content;
                position: relative;

                & .images {
                    height: 300px;
                    width: 203px;

                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }

                & .overlay_content {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100px;
                    background: #000;
                    border-radius: 0 0 10px 10px;
                    padding: 30px 20px 20px;
                    z-index: 5;
                    mask-image:
                        linear-gradient(to top,
                            rgba(0, 0, 0, 1),
                            rgba(0, 0, 0, 1),
                            rgba(0, 0, 0, 1),
                            rgba(0, 0, 0, 0.8),
                            rgba(0, 0, 0, 0.5),
                            rgba(0, 0, 0, 0),
                        );
                    -webkit-mask-image:
                        linear-gradient(to top,
                            rgba(0, 0, 0, 1),
                            rgba(0, 0, 0, 1),
                            rgba(0, 0, 0, 1),
                            rgba(0, 0, 0, 0.8),
                            rgba(0, 0, 0, 0.5),
                            rgba(0, 0, 0, 0),
                        );

                    & .contents {
                        color: #fff;
                        font-weight: 800;
                        user-select: none;

                        & span {
                            font-size: 1rem;

                            & span {
                                color: #2ecc71;
                            }
                        }

                        & h6 {
                            margin-top: 0.7rem;
                            background: rgb(255, 140, 15);
                            background: linear-gradient(77deg, rgba(255, 140, 15, 1) 30%, rgba(255, 194, 28, 1) 100%);
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            -webkit-background-clip: text;
                            font-weight: 900 !important;
                        }
                    }
                }
            }

            & #NextbtnPlatform,
            & #PrevbtnPlatform {
                border-radius: 50%;
                width: 38px;
                height: 38px;
                background: #fff;
                color: coral;
                border: 2px solid #fff;
            }

            & #NextbtnPlatform {
                right: 0;
            }

            & #PrevbtnPlatform {
                left: 0;
            }


            & #NextbtnPlatform::after,
            & #PrevbtnPlatform::after {
                font-size: 0.9rem;
                font-weight: 900;
            }

            & #NextbtnPlatform.swiper-button-disabled,
            & #PrevbtnPlatform.swiper-button-disabled {
                background: none !important;
                color: #fff !important;
            }
        }
    }
}


#gamesDevices {
    width: 100%;
    height: 400px;
    margin-top: 4rem;
    padding: 1rem 5rem;

    & .content {
        & .heading {
            font-size: 2.2rem;
            text-align: center;
            margin-bottom: 3rem;
        }

        & .swiper {
            width: 100%;

            & .swiper-slide {
                width: 350px;
                height: 260px;
                border: 2px solid #d5dbdb;
                transition: all 0.3s ease-in-out;

                & .details {
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    & .images {
                        height: 220px;
                        width: 200px;

                        & img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    & .texts {
                        width: 140px;
                        height: 100%;
                        transition: all 0.6s ease-in-out;

                        & .starts {
                            & i {
                                color: coral;
                                font-size: 10px;
                            }
                        }

                        & h1 {
                            margin: 0.4rem 0;

                            & span {
                                color: coral;
                            }

                            font-size: 1.6rem;
                        }

                        & p {
                            font-size: 12px;
                            width: 200px;
                            color: #aaa;
                            font-weight: 600;
                        }

                        & .buttons {
                            width: fit-content;
                            margin-top: 3rem;
                            margin-left: 1rem;

                            & button {
                                padding: 0.5rem 1rem;
                                background: rgb(255, 140, 15);
                                background: linear-gradient(355deg, rgba(255, 140, 15, 1) 25%, rgba(255, 194, 28, 1) 100%);
                                color: #fff;
                                border-radius: 5px;
                                font-size: 12px;
                                cursor: pointer;

                                &:active {
                                    position: relative;
                                    top: 2px;
                                }
                            }
                        }
                    }
                }

                &:hover {
                    background: rgb(14, 67, 171);
                    background: linear-gradient(162deg, rgba(14, 67, 171, 1) 48%, rgba(43, 90, 194, 1) 69%) !important;
                    border-color: #0E43AB !important;

                    & .details {
                        & .texts {

                            & p,
                            & h1 {
                                color: #fff;
                            }
                        }
                    }
                }
            }

            & .swiper-slide.playstation {
                & .details {
                    & .texts {

                        & h1,
                        & p,
                        & .starts {
                            position: relative;
                            left: -60px;
                        }
                    }
                }
            }

            & .swiper-slide.xBox {
                & .details {
                    & .texts {

                        & h1,
                        & p,
                        & .starts {
                            position: relative;
                            left: 0;
                        }

                        & p {
                            width: 180px;
                        }
                    }
                }
            }

            & .swiper-slide.VR-play {
                & .details {
                    & .texts {
                        & p {
                            color: coral;
                            font-size: 2rem;
                            width: 100%;
                            font-weight: 900;
                        }
                    }
                }
            }

            & .swiper-slide:not(:last-child) {
                margin-right: 18px;
            }
        }
    }
}

#footer {
    & .footer {
        position: relative;
        height: 450px;
        width: 100%;
        padding: 0 5rem;
        clip-path: polygon(0 2%, 100% 26%, 100% 100%, 0% 100%);

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url("../img/guardians-of-the-galaxy.jpg") no-repeat;
            background-size: cover;
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgb(14, 67, 171);
            background: linear-gradient(162deg, rgba(14, 67, 171, 1) 48%, rgba(43, 90, 194, 1) 69%);
            opacity: 0.9;
        }

        & .contents_ {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            width: 400px;
            margin: 0 auto;
            padding-top: 5rem;

            & p,
            & .inputs,
            & h3,
            & h1 {
                z-index: 5;
            }

            & h1 {
                font-size: 2.5rem;
                color: #fff;
            }

            & h3 {
                margin-bottom: 1rem;
                color: #fff;
            }

            & p {
                font-size: 12px;
                margin-bottom: 1rem;
                color: #d5d5d5;
                text-align: center;
            }

            & .inputs {
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                position: relative;

                & input {
                    border: none;
                    outline: none;
                    background: rgba(0, 0, 0, 0.5);
                    padding: 10px 20px;
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    border-radius: 5px 0 0 5px;

                    &::placeholder {
                        color: #d5d5d5;
                        font-size: 12px;
                    }
                }

                & button {
                    height: 100%;
                    padding: 0 1.6rem;
                    border-radius: 0 5px 5px 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    cursor: pointer;
                    background: rgb(255, 140, 15);
                    background: linear-gradient(355deg, rgba(255, 140, 15, 1) 25%, rgba(255, 194, 28, 1) 100%);
                    color: #fff;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                }
            }
        }
    }

    & .main_footer {
        height: 80px;
        width: 100%;
        padding: 1.2rem 5rem;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .logos {
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            cursor: pointer;
            color: #fff;
            font-weight: 600;

            & img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        & .footer_list {
            display: flex;
            align-items: center;
            gap: 10px;

            & li {
                & a {
                    color: #fff;
                    transition: all 0.4s ease-in-out;

                    &:hover {
                        color: #0E43AB;
                    }
                }
            }
        }
    }
}

@import "./Components/_mediaQueries.scss";