@media screen and (max-width:1038px) {
    nav {
        padding: 1rem 3rem !important;

        & .logo {
            order: 2 !important;
        }

        & .hr {
            display: none;
        }

        & .media_nav {
            background: #fff;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 3rem;
            padding-top: 0;
            position: fixed;
            top: 0;
            left: -120%;
            width: 300px;
            height: 100vh;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            transition: all 0.5s ease-in-out;
            flex-direction: column;
            gap: 0 !important;
            overflow-y: scroll;

            & .cross_sideBat {
                display: block !important;
            }


            & .navbar_list {
                flex-direction: column;
                align-items: flex-start !important;
                order: 2;
                margin-top: 2.5rem;

                & li {
                    font-size: 1rem !important;
                    font-weight: 600 !important;
                    padding: 0.6rem 0;

                    & a {
                        color: #0E43AB !important;
                    }
                }
            }

            & .signing_user {
                gap: 0;
                flex-direction: column;
                order: 1;

                & .buttons {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;

                    & .acc {
                        color: #0E43AB !important;
                    }

                    & .active {
                        background: #0E43AB !important;
                        color: #fff !important;
                    }
                }

                & .inputs {
                    width: 100%;

                    & input {
                        width: 100%;
                        color: #0E43AB !important;
                    }
                }
            }
        }

        & .menuBars {
            display: block !important;
            cursor: pointer;
            order: 1 !important;

            & i {
                color: #fff;
                font-size: 22px;
            }
        }
    }

    main {
        & .banner {
            height: 400px !important;

            & .right {
                height: 400px !important;
                right: 0 !important;
            }

            & .left {
                width: 40% !important;
                padding-left: 3rem !important;

                & h1 {
                    font-size: 3rem !important;
                }

                & p {
                    font-size: 14px !important;
                }
            }
        }

        // =================Banner section End=================

        & .section_category {
            padding-left: 3rem !important;
            padding-right: 3rem !important;
        }

        // ==================section_category End==================

        & .xBox_section {
            padding-left: 3rem !important;
            padding-right: 3rem !important;

            & .left {
                & .images {
                    height: 50px !important;
                }

                & .content {
                    & p {
                        font-size: 14px;
                    }
                }
            }
        }

        // =======================xBox_section End========================

    }

    #gamesDevices,
    section {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }

    // =====================Section and gamesDevices End======================

    #footer {

        & .main_footer,
        & .footer {
            padding-left: 3rem !important;
            padding-right: 3rem !important;
        }
    }
}

@media screen and (max-width:992px) {
    nav {
        & .hr {
            display: none;
        }
    }


    main {
        & .banner {
            height: 400px !important;

            & .right {
                height: 400px !important;
            }

            & .left {
                // width: 35% !important;
                padding-left: 2.5rem !important;

                & h1 {
                    font-size: 2.5rem !important;
                }
            }
        }

        // =================Banner section End=================
    }

    // ================Main End====================

    section {
        & #games_platform {
            & .swiper-slide {
                flex-direction: column;

                & .left {
                    & .images {
                        height: 300px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:756px) {
    main {
        & .banner {
            & .right {
                display: none;
            }

            & .left {
                width: 75% !important;
                padding-left: 3rem !important;

                & h1 {
                    font-size: 3rem !important;
                }

                & p {
                    text-align: justify;
                }
            }
        }

        // =================Banner section End=================

        & .xBox_section {
            & .left {
                width: 100% !important;

                & .images {
                    height: 40px !important;
                }

                & .content {
                    & p {
                        font-size: 12px;
                    }
                }
            }
        }

        // =======================xBox_section End========================
    }
}


@media screen and (max-width:576px) {
    nav {
        padding: 1rem 2rem !important;
    }

    main {
        & .banner {
            & .left {
                width: 100% !important;
                padding-left: 2rem !important;
                padding-right: 2rem !important;

                & h1 {
                    font-size: 3rem !important;
                }
            }
        }

        // =================Banner section End=================

        & .section_category {
            padding-left: 2rem !important;
            padding-right: 2rem !important;

            & h1 {
                font-size: 2rem !important;
            }
        }

        // =================section_category End===============

        & .xBox_section {
            padding-left: 2rem !important;
            padding-right: 2rem !important;
            height: 400px !important;

            & .right {
                display: none !important;
            }
        }

        // =======================xBox_section End========================
    }

    // ====================Filter section=====================
    #filter {
        & .nav {
            & li {
                font-size: 11px;
            }
        }

        & .games {
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);

            & .overlay_content {
                bottom: 0 !important;
            }

            // &:hover video,
            & video {
                display: none !important;
            }

            &:hover img,
            & img {
                display: block !important;
            }
        }
    }

    // ======================Filter Section End===============

    section {
        padding-left: 2rem !important;
        padding-right: 2rem !important;

        & #games_platform {
            & .swiper-slide {
                padding: 0 !important;

                & .right {
                    & .content {
                        & h1 {
                            font-size: 1.7rem !important;
                        }

                        & p {
                            font-size: 12px !important;
                        }

                        & h3 {
                            font-size: 1rem !important;
                        }
                    }
                }
            }

            & #Nextbtn,
            & #Prevbtn {
                top: 40%;
            }

            & #Nextbtn {
                right: 0;
            }

            & #Prevbtn {
                left: 0;
            }
        }
    }

    // =====================Section end====================

    #gamingPlatform {
        & .content {
            & h1 {
                font-size: 1.7rem;
            }
        }
    }

    // ===================Games platform End=====================

    #gamesDevices {
        padding-left: 2rem !important;
        padding-right: 2rem !important;

        & .heading {
            font-size: 1.5rem !important;
            margin-bottom: 2rem !important;
        }

        & .content {
            & .swiper {
                & .swiper-slide {
                    width: fit-content !important;

                    & .details {
                        & .images {
                            width: 140px !important;
                        }

                        & .texts {
                            width: 110px !important;

                            & h1 {
                                font-size: 1.4rem !important;
                            }

                            & p {
                                font-size: 10px !important;
                                width: 100% !important;
                            }
                        }
                    }
                }

                & .swiper-slide.playstation {
                    & .details {
                        & .texts {

                            & h1,
                            & p,
                            & .starts {
                                position: relative;
                                left: -50px;
                            }
                        }
                    }
                }

                & .swiper-slide.VR-play {
                    & .details {
                        & .texts {
                            & p {
                                font-size: 1.2rem !important;
                            }
                        }
                    }
                }
            }
        }
    }

    // ====================Games Devices End=====================

    #footer {
        & .footer {
            padding-left: 2rem !important;
            padding-right: 2rem !important;

            & .contents_ {
                width: 100% !important;
                margin: 0 !important;

                & h1 {
                    font-size: 2rem !important;
                }

                & h3 {
                    font-size: 15px !important;
                }

                & p {
                    font-size: 10px !important;
                }
            }
        }

        & .main_footer {
            padding-left: 1.2rem !important;
            padding-right: 1.2rem !important;

            & .logos {
                width: 25px;
                height: 25px;
            }

            & .footer_list {
                & li {
                    & a {
                        font-size: 10px !important;
                    }
                }
            }
        }
    }

}

@media screen and (max-width:480px) {
    #filter {
        & .container {
            justify-content: center;
        }
    }
}